<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <!-- logo -->
            <div>
                <a href="/"><span>Independencia</span></a>
            </div>
            <!-- hipervinculos del menu -->
            <ul>
                <li><a href="#popular-dishes">Los platos mas pedidos</a></li>
                <li><a href="./templates/register.html">Registrate</a></li>
                <li><a href="#"><span>Iniciar Sesión</span></a></li>
            </ul>
        </nav>

    </header>
    <main>
        <section id="banner-dish"></section>
        <section id="more-info"></section>    

    </main>
    <footer>

    </footer>
</body>
</html>